/* // 分类目录条、标签目录条start */
#catalog-bar {
  padding: .4rem .8rem;
  border-radius: .5rem;
  display: flex;
  border: 1px solid var(--forecolor);
  margin-bottom: 1rem;
  justify-content: space-between;
  &:hover {
    border-color: var(--forecolor);
  }
  i {
    line-height: inherit;
  }
  #catalog-list {
    /* 分类/标签较少时，可以选择不设置 width，居中显示 catalog-list-item */
    /* width: 100%; */
    margin: 0 .5rem;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    .catalog-list-item {
      a {
        margin: 0 .2em;
        padding: 0.2em 0.3em 0.3em;
        border-radius: .5rem;
        color: var(--font-color);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
      &.selected a {
        background: var(--backcolor);
      }
      &:hover a {
        background: var(--forecolor);
        color: var(--white);
      }
    }
  }
  .catalog-more {
    min-width: fit-content;
    font-weight: bold;
    color: #4c4948;
    &:hover {
      color: var(--forecolor);
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
/* // 分类目录条、标签目录条end */

